* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: grey;
}
.body {
  width: 20%;
  height: 100vh;
  background-color: #2a2138;
}

table {
  border-spacing: 0;
  width: 100%;
}

td {
  color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.25rem;
  cursor: pointer;
  font-size: larger;
}

td:hover {
  background-color: #221a2e;
  color: white;
}

.dashboardIcon,
.usersIcon,
.siteIcon,
.salesIcon,
.emailIcon,
.gearIcon {
  font-size: 1.5rem;
  letter-spacing: 12px;
}

@media screen and (max-width: 900px) {
  .body {
    width: 20%;
    font-size: 1rem;
  }
  .dashboardIcon,
  .usersIcon,
  .siteIcon,
  .salesIcon,
  .emailIcon,
  .gearIcon {
    font-size: 1rem;
    letter-spacing: 8px;
  }
}
@media screen (max-width: 720px) {
  .body {
    width: 20%;
    font-size: 0.8rem;
  }
  .dashboardIcon,
  .usersIcon,
  .siteIcon,
  .salesIcon,
  .emailIcon,
  .gearIcon {
    font-size: 0.8rem;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 420px) {
  .body {
    width: 100%;
    font-size: 1rem;
  }
  .dashboardIcon,
  .usersIcon,
  .siteIcon,
  .salesIcon,
  .emailIcon,
  .gearIcon {
    font-size: 1rem;
    letter-spacing: 10px;
  }
}
